@import '~src/assets/scss/library';
.slide-show {
  width:100%;
  box-shadow: 3px 3px 3px 3px #333;
  position: absolute;
  background: rgb(135, 32, 152);
}

.slide {
  @include flex();
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  height:50vh;
  transition: all 2s ease-in-out;
}

.title {
  width:100%;
  color:#fff;
  text-align: center;
  height:10vh;
  cursor:pointer;
  font-size:1.5vw;
  font-family: fantasy;
  background:rgb(13, 146, 154);
}
img{
  width:100%;
  cursor:pointer;
  height:40vh;
}
.prev, .next{
  position:absolute;
  right:0vw;
  color:white;
  font-size:2vw;
  top:25vh;
  cursor:pointer;
}
.prev{left:0vw;}
